.letter {
  display: none;
}

.extraText {
  display: none;
}

#letterStyle {
  margin-top:20%;
  /*background-color: ;*/
  font-size: 2em;
  float: left;
  font-family: 'Raleway', sans-serif;
  display: none;
}
